.qr-component {
  max-width: 320px;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;

  &__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 8px;
  }

  &__body {
    padding: 0 1rem;
  }
}